@import 'basicstyles';

/* CARD STYLES */

.card-global {
  position: relative;
  width: 342px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: inherit;
  padding: 16px 20px;
  justify-content: left;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 120px;
  padding: 20px;
}

/* CARD HEADER CONTENT STYLE */

.card-header h6 {
  margin: 0rem;
  padding: 0rem;
  font-family: var(--font-family-sans-serif);
  font-size: 0.7rem;
  color: #344050;
}

.interrogation-svg svg {
  width: 14px;
  height: 14px;
  padding-left: 3px;
  padding-top: 1px;

  cursor: pointer;
}

/* CARD CONTENT STYLES */
.left-upper-content{
    display: flex;
    flex-direction: column;
}

.left-content p{
    margin: 0px;
    color: #5e6e82;
    font-size: 2.0736rem;
    font-weight: 400;
    font-family: var(--font-family-sans-serif);
}

.left-content span{
    font-size: .69444rem;
    font-weight: bolder;
    color: #1978a2;
    background-color: #d4f2ff;
    font-family: var(--font-family-sans-serif);

    padding-right: 0.71111em;
    padding-left: 0.71111em;
    border-radius: 10rem;
}

/* ESTILO DIV GRAFICO */

.right-container{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:  flex-end;
}

/* MARKET SHARE CARD */


.mk-shr-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: inherit;
  height: 152px;
  padding: 20px;
}

.mk-shr-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mk-shr-left h6 {
  margin: 4px 0 8px;
  padding: 0rem;
  margin-top: 0.25rem;
  font-size: 13.3333px;
  font-family: var(--font-family-sans-serif);
  color: #344050;
}

.mk-shr-onebrand {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

.mk-brand-fontstyle {
  font-size: 11.11px;
}

.mk-shr-brands{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

/* QUERYS */

@media (max-width: 1540px) {
  .card-global {
    width: 522px;
  }
}

@media (max-width: 1200px) {
  .card-global {
    width: 457px;
  }
}

@media (max-width: 992px) {
  .card-global {
    width: 337px;
  }
}

@media (max-width: 768px) {
    .card-global {
        width: 510px;
    }
}

@media (max-width: 576px) {
    .card-global {
        width: 523px;
    }
}