@import "basicstyles";

/* FIRST 4 GRID STYLE */

.first-4-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
}

/* CARD STYLES */

.card-global {
  position: relative;
  width: 342px;
  margin-right: 0.66rem;
  margin-bottom: 0.66rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.first-4-grid > .card-global:last-child {
  margin-right: 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: inherit;
  padding: 16px 20px;
  justify-content: left;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  padding: 20px;
}

/* CARD HEADER CONTENT STYLE */

.card-header h6 {
  margin: 4px 0 8px;
  padding: 0rem;
  margin-top: 0.5rem;
  font-size: 13.3333px;
  font-family: var(--font-family-sans-serif);
  color: #344050;
}

.interrogation-svg svg {
  width: 14px;
  height: 14px;
  padding-left: 3px;
  padding-top: 1px;

  cursor: pointer;
}

/* CARD CONTENT STYLES */

.left-upper-content {
  display: flex;
  flex-direction: column;
}

.left-content p {
  margin: 0px;
  color: #5e6e82;
  font-size: 2.0736rem;
  font-weight: 400;
  font-family: var(--font-family-sans-serif);
}

.paragraph-percentage {
  margin: 0px;
  color: #5e6e82;
  font-size: 2.0736rem;
  font-weight: 400;
  font-family: var(--font-family-sans-serif);
}

.left-content span {
  font-size: 0.69444rem;
  font-weight: bolder;
  color: #1978a2;
  background-color: #d4f2ff;
  font-family: var(--font-family-sans-serif);

  padding-right: 0.71111em;
  padding-left: 0.71111em;
  border-radius: 10rem;
}

.left-content1 span {
  font-size: 0.69444rem;
  font-weight: bolder;
  color: #00864e;
  background-color: #ccf6e4;
  font-family: var(--font-family-sans-serif);

  padding-right: 0.71111em;
  padding-left: 0.71111em;
  border-radius: 10rem;
}

/* ESTILO DIV GRAFICO */

.right-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

/* MARKET SHARE CARD */

.mk-shr-card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 152px;
  padding: 20px;
}

.mk-shr-left {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  flex: 0 0 50%;
}

.mk-shr-left h6 {
  margin: 4px 0 8px;
  padding: 0rem;
  margin-top: 0.25rem;
  font-size: 13.3333px;
  font-family: var(--font-family-sans-serif);
  color: #344050;
}

.mk-shr-onebrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mk-brand-fontstyle {
  font-size: 11.11px;
}

.mk-shr-brands {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mk-percentage span {
  opacity: 0;
  font-size: smaller;
}

.dot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.mk-chart-container {
  position: relative;
}

.mk-num-chart span {
  position: absolute;
  top: 31%;
  left: 31%;
  font-size: 23px;
  color: #0b1727;
}

/* WEATHER ONLY STYLES */

.card-header-weather {
  display: flex;
  flex-direction: row;
  height: 32px;
  width: inherit;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
}

.card-header-weather h6 {
  margin: 4px 0 8px;
  padding: 0rem;
  margin-top: 0.5rem;
  font-size: 13.3333px;
  font-family: var(--font-family-sans-serif);
  color: #344050;
}

.weather-buttom-style {
  text-decoration: none;
  border: none;
  background-color: white;
  animation: transform 1s ease-in-out;
}

.weather-buttom-style:hover {
  border: solid 1px rgb(173, 173, 173);
  border-radius: 20%;
}

.weather-buttom-style svg {
  width: 1rem;
  height: 0.5rem;
}

.weather-cardbody {
  padding: 1.25rem;
}

.weather-content {
  display: flex;
  justify-content: space-between;
}

.weather-left-container {
  display: flex;
  flex-direction: row;
}

.weather-text h6{
  margin: 4px 0 8px;
  padding: 0rem;
  margin-top: 0.5rem;
  font-size: 13.3333px;
  font-family: var(--font-family-sans-serif);
  color: #344050;
}

.orange-text{
  color: orange;
  font-weight: 600;
  font-size: .69444rem
}

.grey-text-weather {
  font-weight: 600;
  font-size: .69444rem;
  color: rgb(145, 145, 145);
}

.weather-temperature {
  display: flex;
  flex-direction: column;
}

.temp-blue-upper span{
  font-size: 2.07rem;
  color: #2c7be5;
  font-weight: 400;
  margin-bottom: 0.25rem;
  font-family: var(--font-family-sans-serif);
}

/* QUERYS */

@media (max-width: 1540px) {
  .card-global {
    width: 522px;
  }

  .mk-percentage span {
    opacity: 1;
    font-size: smaller;
  }
}

@media (max-width: 1200px) {
  .card-global {
    width: 457px;
  }
}

@media (max-width: 992px) {
  .card-global {
    width: 337px;
  }
}

@media (max-width: 768px) {
  .card-global {
    width: 510px;
  }
}

@media (max-width: 576px) {
  .card-global {
    width: 523px;
  }

  .mk-shr-left {
    width: 41%;
    flex: 0 0 41%;
  }
}
